- The content from my study guides
- About Me: info on who I am and what this site is
- Blog name
- Logo
- HTML
    Metadata to include:
        This may go without saying, but also include metadata on each wiki page so that browsers can tell what information is on each page and section. 
        Just follow Colt's advice on metadata, don't worry about marketing tricks or anything. Colt's advice is about being descriptive, which also makes the site
        accessible for screenreaders and browsers.
        
        I want to my wiki to come up when people search for: 
        - What is data engineering?
        - What do data engineers do?
        - Data engineering for beginners
        - How to get started with data engineering
        - Data Engineering with Scala
        - Data Science with Scala
        - Using SQL, Scala, and Spark
- CSS
- JavaScript
- domain name & hosting (go ahead and pay for it), if needed
- Udemy Web Development course as my guide to creating this blog. I'll be learning by doing! Take courage!


